body{
    background-color: #ccc;
}

div {
    color: rgb(255, 255, 255);
    background-color: rgb(62, 62, 63);

    text-align: center;

    margin: 0 auto;

    width: 200px;
    padding: 10px;
    border: 2px solid red;
    box-sizing: border-box;
    
}

.box {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    width: 50px;
    height: 10px;

    background-color: aquamarine;
    border: 1px solid black;
    z-index: 1;
}