div {
    color: rgb(255, 255, 255);
    background-color: rgb(62, 62, 63);
    text-align: center;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    border: 1px solid red;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: beige;
}

.static {
    

    position: static;
    top: 0px;
    left: 0px;


}

.absolute {

    position: absolute;
    top: 0px;
    right: calc(50vw - (150px/2));

}

.fixed {
   position: fixed;
   right: 0;
   top: calc(50vh - 20px);
    
}


.sticky {

    position: sticky;
    top: 0;
    bottom: 0;
}

.box {
    width: 80%;
    height: 200px;
    margin: 10px auto;
    border: 1px solid blue;
    position: relative;
}

.relative{
    margin: 0;
position: absolute;
left: 0;
top: 0;
}
