
.my-box {
    color: rgb(255, 255, 255);
    background-color: rgb(62, 62, 63);
    text-align: center;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    border: 1px solid red;
    box-sizing: border-box;
    
    margin: 0 auto;

    position: sticky;
    bottom: 15px;
    left: 15px;
    z-index: 1;

}

.my-box2{
    color: rgb(255, 255, 255);
    background-color: rgb(62, 62, 63);
    text-align: center;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    border: 1px solid red;
    box-sizing: border-box;

    position: fixed;
    top: 0px;
    left: 67px;

}

/* 
relative posicion relativa al contenedor si no hay contenedor, se busca el ancestro mas cercano (body es el padre de todos)
absolute sale del "arbol" de elementos una "fruta flotante", no se sostiene con nada
fixed fijado a la pantalla
sticky lo mismo que fixed pero se mueve cuando colisiona con un borde de la pantalla
 */